.knopje{
  background-color: purple;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  width: 1000px;
  height: 200px;
  color: pink;
  font-size: 30;
}

.body{
  background-color:#ff7991;
  'font-family: '
}

.chicks{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
